*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    direction: rtl;
}
:root{
   --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-red-100: oklch(93.6% .032 17.717);
    --color-red-500: oklch(63.7% .237 25.331);
    --color-red-600: oklch(57.7% .245 27.325);
    --color-red-800: oklch(44.4% .177 26.899);
    --color-orange-100: oklch(95.4% .038 75.164);
    --color-orange-500: oklch(70.5% .213 47.604);
    --color-orange-600: oklch(64.6% .222 41.116);
    --color-orange-800: oklch(47% .157 37.304);
    --color-yellow-100: oklch(97.3% .071 103.193);
    --color-yellow-600: oklch(68.1% .162 75.834);
    --color-yellow-800: oklch(47.6% .114 61.907);
    --color-green-50: oklch(98.2% .018 155.826);
    --color-green-100: oklch(96.2% .044 156.743);
    --color-green-400: oklch(79.2% .209 151.711);
    --color-green-500: oklch(72.3% .219 149.579);
    --color-green-600: oklch(62.7% .194 149.214);
    --color-green-700: oklch(52.7% .154 150.069);
    --color-green-800: oklch(44.8% .119 151.328);
    --color-emerald-100: oklch(95% .052 163.051);
    --color-emerald-600: oklch(59.6% .145 163.225);
    --color-emerald-800: oklch(43.2% .095 166.913);
    --color-cyan-100: oklch(95.6% .045 203.388);
    --color-cyan-600: oklch(60.9% .126 221.723);
    --color-cyan-800: oklch(45% .085 224.283);
    --color-blue-50: oklch(97% .014 254.604);
    --color-blue-100: oklch(93.2% .032 255.585);
    --color-blue-500: oklch(62.3% .214 259.815);
    --color-blue-600: oklch(54.6% .245 262.881);
    --color-blue-700: oklch(48.8% .243 264.376);
    --color-blue-800: oklch(42.4% .199 265.638);
    --color-blue-900: oklch(37.9% .146 265.522);
    --color-indigo-50: oklch(96.2% .018 272.314);
    --color-indigo-100: oklch(93% .034 272.788);
    --color-indigo-500: oklch(58.5% .233 277.117);
    --color-indigo-600: oklch(51.1% .262 276.966);
    --color-indigo-700: oklch(45.7% .24 277.023);
    --color-indigo-800: oklch(39.8% .195 277.366);
    --color-purple-100: oklch(94.6% .033 307.174);
    --color-purple-500: oklch(62.7% .265 303.9);
    --color-purple-600: oklch(55.8% .288 302.321);
    --color-purple-800: oklch(43.8% .218 303.724);
    --color-pink-100: oklch(94.8% .028 342.258);
    --color-pink-500: oklch(65.6% .241 354.308);
    --color-pink-600: oklch(59.2% .249 .584);
    --color-rose-700: oklch(51.4% .222 16.935);
    --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-900: oklch(21% .034 264.665);
    --color-white: #fff;
    --spacing: .25rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: 1.5;
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --tracking-tight: -.025em;
    --tracking-wide: .025em;
    --tracking-widest: .1em;
    --radius-sm: .25rem;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --radius-xl: .75rem;
    --radius-2xl: 1rem;
    --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
    --blur-sm: 8px;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-brand-accent-blue: #3b82f6;
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
}
ul li {
    list-style-type: none;
    
}
ul li a{
   text-decoration: none;
   color: gray;
   font-weight: 600;  
}


.contant{
    display: flex;
}

.cantainer{
   width: 90%;
   background-color: var(--color-gray-100);
   padding: 2rem;

}

section{
 
}
aside{
    padding:30px ;
    
    width: 15%;
    /* position: fixed; */
   
    z-index: 1;
    border-left: 1px solid var(--color-gray-200);
    height: 100vh;
}
.aside-header{
display: flex; 
margin: auto; 
Line-height: 1.5;
align-items: center;
padding-bottom: 30px;
}

.aside-logo {
    background-color: var(--color-blue-600);
    padding: 15px;
    border-radius: 15px;
    
}

.aside-logo i{
    color: white;
}

.aside-title {
    display: flex;
    flex-direction: column;
    padding: 0 15px ;
}

.aside-header h1{
    font-size: 40px;
    font-weight: bolder;
   
}
.aside-header p{
    font-size: 14px;
    color: gray;
    font-weight: 600;
}

.aside-menu ul li i{
    width: 20px;
    /* margin-left: 10px; */
}
.aside-menu ul li{
    padding: 10px;
    margin-bottom: 10px;
}
.aside-menu .aside-home-card{
    background-color: var( --color-blue-100);
    border-radius: 10px;
}
.house{
    color: var(--color-blue-600);
}

.aside-contant h4{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;

}
.aside-contant .aside-menu ul li{
    margin-bottom: 40px;
}


.aside-contant .aside-menu ul li a{
    text-align: center;
    border-radius: 5px;
   padding: 10px;
}
.plane{
    background-color: var(--color-blue-100);
}
.fa-paper-plane{
 color:var(--color-blue-600);
}
.plus{
  background-color: var(--color-green-100);
}

.fa-plus{ 
    color: var(--color-green-600);
}
.receipt{
    background-color: var(--color-purple-100);
}
.fa-receipt{
    color: var(--color-purple-600);
}
.fa-chart-line{
    color:var(--color-orange-600);
}
.chart{
    background-color: var(--color-orange-100);
} 
/* //////////////////////////////////////// */

.nav-top{
    display: flex;
    justify-content: space-between;
     border: 2px solid var(--color-gray-200);
    width: 100%;
    padding: 20px;
    background-color: var(--color-gray-50);
    border-radius: 20px; 
}

.nav-header{ 
Line-height: 1.5;
display: flex;
align-items: center;
}
.online{
    background-color: var(--color-green-50);
    color: var(--color-green-600);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--color-green-100);
}
.online::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--color-green-400);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left i{
   background-color: var(--color-gray-100);
   padding: 10px;
   margin-left: 10px;
   border-radius: 10px;
   border: 1px solid var(--color-gray-200);
}
.nav-left i:hover{
    background-color: var(--color-gray-200);
}
.bell::before{
      content: "2";
    width: 10px;
    height: 10px;
    background-color: var(--color-red-500);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    font-size: 0.7rem;
}
.nav-user-btn {
    background-color: white;
    border: 1px solid var(--color-gray-200);
    padding: 0.3rem;
    width: 10rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-user-btn p{
    font-size: 0.8rem;
}
.nav-user-btn img{
    width: 2.5rem;
    border-radius: 10px;
}

.cards-flex{
    display: flex;
    /* background-color: rgb(180, 47, 47);
    gap: 10rem; */
    width: 100%;
    margin-top:2rem ;
}
.card{
    width: calc(100%/3);
    background-color:white;
    margin-left: 1rem;
    padding: 2.5rem;
    border-radius: 1rem;
    border: 2px solid var(--color-gray-200);
}



.activity{
    background-color:white;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid var(--color-gray-200);
}

.activity h3{
    padding-bottom: .5rem;
}

.activity-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 12px 0;
}

.activity-cards p{
    font-size: 12px;
    padding: .3rem;
    font-weight: bolder;
}

.activity .activity-gary{
    color: gray;
}

.activity-right{
    display: flex;

}

.blue-activity{
    background-color: var(--color-blue-50);
    border-radius: 1rem;
    border-left:5px solid var(--color-blue-500);
}

.icon-blue-activity{
    background-color: var(--color-blue-100);
    border-radius: 50%;
    width: 100%;
    color: var(--color-blue-500);
    padding: 5px;
}

.icon-green-activity{
        background-color: var(--color-green-100);
    border-radius: 50%;
    width: 100%;
    color: var(--color-green-500);
    padding: 5px;
}

.activity-icon{
    padding-left:.5rem ;
}

.activeity-left-blue{
    color: var(--color-blue-500);
}
.activeity-left-green{
    color: var(--color-green-500);
}

.activeity-left-green{
    color: var(--color-green-500);
}

.green-activity{
      background-color: var(--color-green-50);
    border-radius: 1rem;
    border-left:5px solid var(--color-green-500);

}
.activity  .activity-footer{
    
    text-align: center;
    margin: auto;
    border-top: 1px solid var(--color-gray-200);
    padding-top: 0.7rem;
}

.activity a{

    color:var(--color-blue-500) ;   
}

.main-contant a{
    text-decoration: none;
    font-weight: 600;
}

.main-contant{
    
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1.2rem;
  grid-template-areas: 
    "right-top main main "
    "right-bottom main main "; 
}


.activity{
    /* grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 1; */
      grid-area: right-top;
} 

.statement{
     /* grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3; */
     grid-area: right-bottom;
        background-color:white;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid var(--color-gray-200);
}
.statement-haed{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.gy-cor{
        color: rgb(98, 98, 98);
         padding: 2px;
}
.statement a:hover{
    color: black;
}

.statement-main{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}


.statement-cards{

     display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two ."
    "three four .";
}

.statement-card{
    background-color: var(--color-gray-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom:15px ;
}

.statement-icon-blue{
    background-color: var(--color-blue-100);
    color: var(--color-blue-500);
    padding: 7px;
    border-radius: 10px;
}
.statement-icon-yellow{
    background-color: var(--color-yellow-100);
    color: var(--color-yellow-600);
    padding: 7px;
    border-radius: 10px; 
}
.statement-icon-green{
    background-color: var(--color-green-100);
    color: var(--color-green-500);
    padding: 7px;
    border-radius: 10px;
}
.statement-icon-red{
    background-color: var(--color-red-100);
    color: var(--color-red-500);
    padding: 7px;
    border-radius: 10px;
}
.p-red{
    color: red;
    font-size: 13px;
}
.p-orange{
    color: var(--color-orange-500);
}

.p-green-light{
    color: var(--color-green-400);
    font-weight: var(--font-weight-medium);
        font-size: 13px;
}

.fot-size-14{
    font-size: 14px;
}
.fot-size-12{
    font-size: 12px;
}

.one { grid-area: one; }

.two { grid-area: two; }
.three { grid-area: three; }

.four { grid-area: four; }









.last-action{
    /* grid-column: span 2 / span 2;
    grid-row: span 4/ span 4;
    grid-column-start: 1;
    grid-row-start: 1; */
    grid-area: main;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid var(--color-gray-200);
    padding: 1.5rem;
}
.last-action-haed{
     display: flex;
    align-items: center;
    justify-content: space-between;
}
.last-action table{
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;

}
.last-action table tr{
    
    }
.table-head{
    text-align: right;
    font-size: 14px;
}
.tr-flex{
    display: flex;
    align-items: center;
}
/* .tr-flex img{
    width: 2.5rem;
    border-radius: 50%;
} */
.tr-flex-title{
    padding-right: 10px;
}

.fa-arrow-down{
       background-color: var(--color-green-50);
    color: var(--color-green-700);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--color-green-100);
}
.tr-span-green{
    color: var(--color-green-700);
    background-color: var(--color-green-100);
    padding: 3px 9px;
    border-radius: 15px;
    font-size: 12px;
}
.tr-green{
    color: var(--color-green-600);
   
}
.line-text-fs{
 font-size: var(--text-sm);
    line-height: var(--text-xs--line-height);
}
.line-text-xs{
    font-size: var(--text-xs);
}
.line-h-fs{
    font-size: var(--text-sm);
}
.line-lg-fs{
    font-size: var(--text-lg);
    /* line-height: var(--text-4xl--line-height); */
}
.line-xl-fs{
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
}

.line-14-fs{
    font-size: var(--text-2xl);
        line-height: var(--text-2xl--line-height);
}

.font-semibold{
    font-weight: var(--font-weight-semibold);
}
.font-medium{
    font-weight: var(--font-weight-medium);
    

}

.font-mono{
    font-family: var(--font-mono);
}


.line-text-gary{
    color: var(--color-gray-500);
}
.h-10{
    height: calc(var(--spacing) * 10);
}

.bottom-pd-10{
    padding-bottom:10px ;
}

.rounded-full{
    border-radius:50%;
}

.bottom-section{
     display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 20px 20px; 
  padding-top: 10px;
  grid-template-areas: 
    "right-card center-card-top left-card"
    "right-card center-card-top left-card"
    "right-card center-card-bottom  left-card"
    "right-card center-card-bottom left-card"; 
    
}

.d-flex{
    display: flex;
}
.center-times{
        align-items: center;
}


.end-items{
    align-items: flex-end;
}

.contant-jst{
        justify-content: space-between;
}
.space-evely{
    justify-content: space-evenly;
}
.jst-contant{
    justify-content: center;
}
.jst-end{
    justify-content: flex-end;
}
.jst-start{
    justify-content: flex-start;
}
.spceing-xs{
   padding: 20px;
   gap: 20px;
}

.spaceing-gap{
    gap: 2px;
}
.mb-4{
        margin-bottom: calc(var(--spacing) * 4);
}
.mb-2{
        margin-bottom: calc(var(--spacing) * 2);
}
.mr-2{
    margin-right: 10px;
}
.p-7{
    padding: calc(var(--spacing) * 7);
}
.flex-1{
    flex: 1;
}

.right-card{
    grid-area:right-card ;
    border: 1px solid var(--color-gray-300);
    background-color: var(--color-white);
    padding: 2rem;
}

.bar-container{
      width: 100%;
  background-color: var(--color-gray-300);
  text-align: center;
  color: white;
}
.bar{
    height: 10px;
    background-color: var(--color-blue-600);
}
.bar-orange{
    margin-top: 10px;
        height: 10px;
    background-color: var(--color-orange-600);
}

.bar-red{
    margin-top: 10px;
        height: 10px;
    background-color: var(--color-red-500);
}
.bar-pink{
    margin-top: 10px;
        height: 10px;
    background-color: var(--color-pink-500);
}
.bar-green{
    margin-top: 10px;
        height: 10px;
    background-color: var(--color-green-500);
}
.bar-1{
    width: 50%;
}
.bar-2{
    width: 100%;
}
.bar-3{
    width: 80%;
}

.bar-5{
    width: 86%;
}

.bar-4{
    width: 82.5%;
}

.card-bg-blue{
    background-color: var(--color-blue-50);
}
.card-wd{
    padding: 20px;
    margin-top: 10px;
}
.bg-gary{
    background-color: var(--color-gray-100);
}

.gb-gary50{
    background-color: var(--color-gray-50);
}
.bg-withe{
    background-color: var(--color-white);

}

.bodr-rads{
    border-radius: 20px;
}

.bodr-rads-lg{
    border-radius: 10px;
}
a{
    text-decoration: none;
    font-weight: 600;
}
.p-green-dark{
    color: var(--color-green-600);
}

.p-bule-light{
    color: var(--color-blue-500);
}

.fs-20{
    font-size: 20px;
}

.card-bck{
     background-color: var(--color-white);
    padding: 20px;
}

.boder-colr{
        border: 1px solid var(--color-gray-100);
}
.border-dark{
            border: 1px solid var(--color-gray-200);

}
.block-display{
    display: block;

}

.center-card-top{
    grid-area: center-card-top;
}

.green-box::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--color-green-500);
    display: inline-block;
    margin-left: 5px;
    border-radius: 2px;
}

.red-box::before{
     content: "";
    width: 10px;
    height: 10px;
    background-color: var(--color-red-500);
    display: inline-block;
    margin-left: 5px;
    border-radius: 2px;
}
.css-chart-bar{
    height: 160px;
}

.css-chart-bar-income{
    background-color: var(--color-green-600);
    border-radius: 3px 3px 0 0;
    width: 16px;
        transition: all .3s;
          height: 95px;
}

.first-week-red{
height: 42px;
}
.sec-week-red{
    height: 45px;
}
.thred-week-red{
    height: 38px;
}

.css-chart-bar-expense{
    
    background-color: var(--color-red-600);
    border-radius: 3px 3px 0 0;
    width: 16px;
    transition: all .3s;
}

.center-card-bottom{
    grid-area: center-card-bottom;
}
.center-card-bottom-icon-bule{
   padding: 10px;
   color: var(--color-blue-600);
   background-color: var(--color-blue-100);
   border-radius: 10px;
   text-align: center;
}
.center-card-bottom-icon-green{
   padding: 10px;
   color: var(--color-green-600);
   background-color: var(--color-green-100);
   border-radius: 10px;
   text-align: center;
}
.center-card-bottom-icon-pupler{
   padding: 10px;
   color: var(--color-purple-600);
   background-color: var(--color-purple-100);
   border-radius: 10px;
   text-align: center;
}
.center-card-bottom-icon-orange{
  padding: 10px;
   color: var(--color-orange-600);
   background-color: var(--color-orange-100);
   border-radius: 10px;
   text-align: center;
}
.center-card-bottom-icon-red{
  padding: 10px;
   color: var(--color-red-600);
   background-color: var(--color-red-100);
   border-radius: 10px;
   text-align: center;
}
.center-card-bottom-icon-pink{
  padding: 10px;
   color: var(--color-pink-500);
   background-color: var(--color-pink-100);
   border-radius: 10px;
   text-align: center;
}

.left-card{
    grid-area: left-card;
}
.inner{
    width: 100%;
    position: relative;
    transform-style:preserve-3d ;
    transition: transform .7s cubic-bezier(.2 ,.9 ,.3 ,1);
}

.bg-indigo{
    background-color: var(--color-indigo-800);
}
.bg-rose{
    background-color: var(--color-rose-700);
}
.br-reds{
    border-radius: 10px;
}
.bg-bule{
    background-color: var(--color-blue-800);
}

.card-front{
    /* background-color: var(--color-indigo-800); */
    width: 100%;
    transform: translateZ(0);
    color: var(--color-white);
}
.card-front , .card-back {
    backface-visibility: hidden;
    border-radius: .75rem;
    overflow: hidden;
}
.fa-cc-visa , .fa-paypal , .fa-cc-mastercard {
    font-size: var(--text-3xl);
}
.card-icon{
    background-color: var(--color-white);
    opacity: 70%;
    width: 40px;
    height: 25px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 5px;
    /* border: 7px solid var(--color-gray-200); */
    border: 1px solid rgba(200, 195, 195, 0.5);
    border-opacity: 0.7;
    border-width: 7px 10px;
    box-shadow: 0px 0px 5px 1px rgba(244, 244, 244, 0.5);
}
.primary-badge{
    position: absolute;
    top: 11px;
    left: 12px;
    padding: 6px 10px ;
    border-radius: 20px;
    background-color: #ffffff24;
    font-size: .72rem;
    font-weight: 700;
    color: #fff;
    backdrop-filter: blur(4px);
}

.card-back{
    color: #fff;
    background: linear-gradient(120deg, #051026, #0b1220 45%, #0f1724);
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotateY(180deg);
}

.card-back .mag-stipe{
    background: linear-gradient(90deg , #000 , #111 40% , #2b2b2b);
    border-radius: 3px;
    height: 52px;
    margin-top: 6px;
    box-shadow: inset 0 6px 14px #ffffff05;
}  

.card-back .microprint{
    color: #ffffff7a;
    letter-spacing: .6px;
    margin-top: 8px;
    font-size: 10px;
}
.card-back .signature{
    color: #111827;
    background: linear-gradient(90deg, #f8fafc, #eef2f6);
    border-radius: 4px;
    align-items: center;
    height: 36px;
    margin-top: 10px;
    padding: 6px 8px;
    font-weight: 700;
    display: flex;
    position: relative;
    overflow: hidden;
}

.card-back .cvv-row{
    gap: 12px;
    margin-top: 12px;
}
.card-back .cvv-box{
    color: #111827;
    letter-spacing: 1px;
    background-color: #fff;
    border-radius: 6px;
    min-width: 48px;
    padding: 8px 12px;
    font-weight: 700;
}
.card-back .signature .last4{
    color: #000000d9;
    margin-left: 8px;
    font-size: .9rem;
}
.card-back .signature .scribble{
    background-image: linear-gradient(90deg , #0000000f , #0000002e ,#0000000f);
    border-radius: 2px;
    width: 86%;
    height: 12px;
    transform: skew(-10deg);
}

.space-y-4:hover .inner{
    transform: rotateY(180deg);

}